body {
  padding-top: 80px;
}

body .modal {
  width: 90%; /* desired relative width */
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto;
}

#map {
  height: 400px;
}

#input {
  padding: 10px;
  margin-top: 20px;
}

#input #btn {
  padding: 10px;
}

label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img { /* IMAGE STYLES */
  cursor: pointer;
  border: 4px solid transparent;
  padding: 2px
}
label > input:checked + img {
  border: 4px solid #337ab7;
}
label > input:hover + img {
  border: 4px solid #428bca;
}

table > tbody {
  font-size: 12px;
}
