
<form action = "/renderMap">
    <div class = "messageTable">
        <div class = "headRow">
            <div class = "divCell">Date</div>
            <div class = "divCell">Source Type</div>
            <div class = "divCell">Source ID</div>
            <div class = "divCell">Character</div>
            <div class = "divCell">Address</div>
            <div class = "divCell">Geo-Location</div>
            <div class = "divCell">Process Status</div>
            <div class = "divCell">Action</div>
        </div>
        {% for msg in messages %}
        <div class = "divRow">
          <div class = "divCell">{{msg.datetime}}</div>
          <div class = "divCell">{{msg.sourceType}}</div>
          {% if msg.sourceType == "SMS" %}
            <div class = "divCell">{{msg.sourcePhone}}</div>
          {% elif msg.sourceType == "WebForm" %}
            <div class = "divCell">{{msg.sourceIP}}</div>
          {% endif %}
          <div class = "divCell">{{msg.character}}</div>
          <div class = "divCell">{{msg.address}}</div>
          <div class = "divCell">{{msg.latlng}}</div>
          <div class = "divCell">{{msg.error}}</div>
          <div class = "divCell">
            {% if msg.error == "" %}
            <input type = "hidden" name = "key" value = "{{msg.ID}}">
            <input type = "submit" name="Render Map">
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
  </form>
